@import './reset.scss';
@import './variables';
@import './mixins';
@import './functions';
@import './base';
@import './utility';
@import './container';
@import './components/autocomplete';
// @import './components/navbar';
@import './components/button';
@import './components/footer';
@import './components/form';
@import './components/landingpage';
// @import './components/card';
@import './components/modal';
@import './grid';

// DEBUG:
.debug-bd-r {border: 2px solid red!important;}
.debug-bd-b {border: 2px solid blue!important;}
.debug-bd-g {border: 2px solid green!important;}